@import url("../vendor/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

.page {
  margin: 0 auto;
  max-width: 1440px;
  min-width: 320px;
  font-family: "Poppins", sans-serif;
}

.header {
  margin: 0 auto;
  height: 800px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-self: start;
  max-width: 100%;
}

.header__logo {
  width: 120px;
  height: 33px;
  margin-right: 45px;
}
.header__logo-menu {
  display: none;
  width: 120px;
  height: 33px;
  margin-top: 40px;
}
.header__nav-bar {
  width: 90%;
  margin: 55px auto 139px;
  max-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-bar_container {
  display: flex;
  align-items: center;
}

.header__link {
  margin-right: 29px;
  text-decoration: none;
  color: #9e9aa8;
  font-size: 15px;
  line-height: 1.65;
  font-weight: bold;
  transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -ms-transition: all ease-in-out 0.4s;
  -o-transition: all ease-in-out 0.4s;
}

.header__link:last-child {
  margin: 0;
}
.header__link:hover {
  color: #76a1b4;
  opacity: 0.8;
}

.header__illustration {
  position: absolute;
  right: -123px;
  top: 166px;
  width: 733px;
  height: 482px;
  background-image: url("../images/illustration-workingjjj.jpg");
  z-index: -1;
}

.header__title {
  color: #34313d;
  font-size: 80px;
  line-height: 1.125;
  font-weight: bold;
  max-width: 600px;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 5%;
}

.header__subtitle {
  color: #9e9aa8;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.63;
  max-width: 550px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 5%;
  /* margin-left: 165px; */
}

/* buttons */
.header__buttons {
  display: flex;
  align-self: flex-end;
}

.header__nav-bar_button {
  margin-left: 37px;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.47;
  border: none;
  background-color: #ffffff;
  color: #9e9aa8;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: opacity ease-in-out 0.4s;
}
.header__nav-bar_button:hover {
  opacity: 0.8;
}

.button_bg_color {
  color: #ffffff;
  background-color: #2bd0d0;
  border-radius: 28px;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  padding: 9px 23px;
  cursor: pointer;
  outline: none;
  transition: opacity ease-in-out 0.4s;
}
.button_bg_color:focus {
  background-color: #76dada;
}
.button_bg_color:hover {
  opacity: 0.8;
}

.header__nav-bar_button:first-child {
  margin-left: 0;
}
.header__button-menu {
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: inherit;
  margin: 0 auto 24px;
  transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -ms-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
}
.header__button-menu:hover {
  opacity: 0.8;
}
.header__button-menu:focus {
  background-color: #76dada;
}
.header__nav-bar_button-menu {
  cursor: pointer;
  font-weight: bold;
  border: none;
  background-color: #2bd0d0;
  font-size: 18px;
  line-height: 1.2;
  width: 279px;
  height: 48px;
  color: #ffffff;
  outline: none;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
  transition: all ease .4s;
  -webkit-transition: all ease .4s;
  -moz-transition: all ease .4s;
  -ms-transition: all ease .4s;
  -o-transition: all ease .4s;
}
.header__nav-bar_button-menu:hover {
  opacity: .8;
}
.header__button {
  width: 197px;
  max-width: 197px;
  height: 56px;
  margin: 0;
  text-decoration: none;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.5s;
  display: inline-block;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 65%;
  left: 5%;
}

.header__button:focus {
  background-color: #76dada;
}

/* .header__button:active {

} */

/* end buttons */
/* main */
main {
  background-color: #f2f2f2;
}
/* end main */
/* start entry */

.entry-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

.entry-field-form {
  padding: 0 54px;
  width: 80%;
  height: 168px;
  background-color: rgba(58, 48, 84, 1);
  background-image: url("../images/link-right.svg");
  transform: translateY(-84px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

.entry-field__text {
  width: 100%;
  height: 64px;
  border-radius: 10px;
  margin: 0 24px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  padding: 14px 0 14px 34px;
  box-sizing: border-box;
}

.entry-field__button {
  border-radius: 10px;
  width: 188px;
  height: 64px;
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
}
/* end entry */

/* start info-box */
.info-box {
  padding: 0 0 208px;
  position: relative;
}
.info-box__line {
  width: 60%;
  height: 8px;
  background-color: #2bd0d0;
  position: absolute;
  top: 53%;
  left: 16%;
}
.box-info__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 100px;
}
.info-box__title {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  line-height: 1.2;
  color: #34313d;
  letter-spacing: -1px;
}

.info-box__subtitle {
  color: #9e9aa8;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.77;
  text-align: center;
  letter-spacing: 0.122727px;
  max-width: 540px;
  margin: 18px 0 0 0;
}
/* cards */
.info-box__cards-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-box__cards-container {
  width: 350px;
  max-width: 350px;
  height: 267px;
  background-color: #ffffff;
  border-radius: 5px;
  position: relative;
}
.info-box__cards-container:nth-child(2) {
  margin: 0 30px;
  transform: translateY(44px);
}
.info-box__cards-container:nth-child(3) {
  transform: translateY(88px);
}

.info-box__cards-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  color: #34313d;
  margin: 77px 0 12px 0;
  margin-left: 15%;
}
.info-box__cards-subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.7;
  color: #9e9aa8;
  width: 80%;
  margin: 0;
  margin-left: 15%;
}
.info-box__cards-img {
  width: 88px;
  height: 88px;
  background-color: #3a3054;
  border-radius: 50%;
  position: absolute;
  top: -42px;
  background-position: center;
  left: 31px;
  object-fit: none;
  margin: 0;
}

/* start cover */

.cover__container {
  background-image: url("../images/cover.svg");
  width: 100%;
  max-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0 57px 0;
}
.cover__title {
  letter-spacing: -1px;
  color: #ffffff;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2;
  margin: 57px 0 32px;
  padding: 0;
}
.cover__btn {
  width: 197px;
  height: 56px;
  text-decoration: none;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.5s;
  display: inline-block;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  outline: none;
}

/* start footer */

.footer_display_flex {
  background-color: #232127;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 71px 0 70px;
}
.footer__logo {
  width: 120.04px;
  height: 32.67px;
}
.footer__links-list {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__link-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.25px;
  color: #ffffff;
  margin: 0 0 22px 0;
}
.footer__link {
  letter-spacing: -0.234375px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  color: #bfbfbf;
  margin: 0 0 10px 0;
  padding: 0;
  transition: opacity linear 0.25s;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  display: block;
}
.footer__link:last-child {
  margin-bottom: 0;
}
.footer__link:hover {
  opacity: 0.7;
}
.footer__links-list:last-child {
  margin-top: -8px;
}
.footer__icon {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  transition: opacity linear 0.25s;
  cursor: pointer;
}
.footer__link-icon {
  margin: 0 0 10px 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: inline;
  margin: 0 24px 0 0;
  padding: 0;
}
.footer__icon:hover {
  opacity: 0.7;
}
.footer__icon:last-child {
  margin-right: 0;
}
.hamburger-menu {
  display: none;
}
@media all and (max-width: 1280px) {
  .header__title {
    font-size: 45px;
    max-width: 350px;
  }
  .header__subtitle {
    max-width: 450px;
  }
  .header__subtitle {
    top: 40%;
  }
}
@media all and (max-width: 920px) {
  .info-box__cards-subtitle {
    font-size: 13px;
  }
  .info-box__cards-title {
    font-size: 20px;
  }
  .entry-field__button {
    font-size: 15px;
  }
}

@media all and (max-width: 740px) {
  .hamburger-menu {
    display: block;
  }
  .header__logo-menu {
    display: block;
  }
  .header__nav-bar {
    display: none;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 46px;
    right: 24px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #9e9aa8;
    -webkit-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 96px;
    right: -100%;
    width: 327px;
    border-radius: 10px;
    margin: 0 0 0 24px;
    padding: 35px 0;
    list-style: none;
    text-align: center;
    background-color: #3a3054;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }
  .menu__item-line {
    margin: 30px auto 32px;
    text-align: center;
    border: 1px solid #9E9AA8;
    opacity: 0.25;
    width: 279px;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }
  .menu__item:hover {
    background-color: #1aa5a5f3;
  }
  .page {
    max-width: 375px;
  }
  .header__illustration {
    width: 482px;
    height: 337px;
    position: static;
    background-size: contain;
    margin-top: 29px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .header__title {
    position: static;
    margin-top: 37px;
    margin-bottom: 15px;
    font-size: 42px;
    text-align: center;
  }
  .header__subtitle {
    position: static;
    font-size: 18px;
    text-align: center;
  }
  .header__button {
    position: static;
    margin-top: 32px;
    margin-bottom: 88px;
    width: 197px;
    height: 56px;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
  }
  .entry-field-form {
    transform: none;
  }
  .header__nav-bar {
    margin: 0;
  }
  .entry-field-form {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    margin-bottom: 80px;
  }
  .entry-field__text {
    width: 279px;
    margin: 0;
    margin-bottom: 16px;
    font-size: 16px;
    padding: 6px 0 6px 16px;
  }
  .entry-field__button {
    width: 279px;
    font-size: 18px;
  }
  .info-box__title {
    font-size: 28px;
  }
  .info-box__subtitle {
    font-size: 16px;
    line-height: 1.8;
    max-width: 320px;
  }
  .info-box__cards-box {
    flex-direction: column;
  }
  .info-box__cards-img {
    transform: translateX(-50%);
    left: 50%;
  }
  .info-box__cards-container {
    width: 320px;
    margin-bottom: 92px;
  }
  .info-box__cards-container:nth-child(2) {
    margin-bottom: 92px;
  }
  .info-box__cards-subtitle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .info-box__cards-title {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .info-box__cards-container:nth-child(3) {
    margin-bottom: 0;
  }
  .info-box__line {
    height: 1%;
    left: 49%;
    transform: scaleY(50);
    width: 8px;
  }
  .cover__title {
    font-size: 28px;
    margin-bottom: 16px;
  }
  .footer_display_flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer__link-title {
    font-size: 16px;
    margin-bottom: 22px;
    margin-top: 38px;
  }
  .footer__link {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .footer__logo {
    margin-bottom: 10px;
  }
}
